* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--main-font);
}

html::-webkit-scrollbar {
    width: 12px;
    cursor: pointer;
}

html::-webkit-scrollbar-track {
    background: #f4f4f4;
}

html::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 10px;
    border: 3px solid #f4f4f4;
}

html::-webkit-scrollbar-thumb:hover {
    background: var(--main);
}

body {
    background: var(--secondary);
    position: relative;
}

a {
    text-decoration: none;
}

.head-title h2 {
    font-weight: var(--fw-lg);
    color: var(--text-primary);
    margin-bottom: 30px;
}

@media screen and (min-width: 1098px) {
    .head-title h2 {
        font-size: 35px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1098px) {
    .head-title h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
    .head-title h2 {
        font-size: 25px;
    }
}